<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ResourcesLocation" type="WarGrapher.DataAccessLayer.ConfigHelpers.ResourcesLocationConfigSection, WarGrapher"/>
    <section name="CsvFileSettings" type="WarGrapher.DataAccessLayer.ConfigHelpers.CsvSettingsConfigSection, WarGrapher"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <CsvFileSettings columnSeparator=";" decimalSeparator="."/>

  <ResourcesLocation>
    <TypedResources>
      <add typeCode="weapons"
           pathToDataFile="\resources\data\weapons.csv"
           pathToImagesDirectory="\resources\images\weapons\"/>

      <add typeCode="helmets"
           pathToDataFile="\resources\data\armorHead.csv"
           pathToImagesDirectory="\resources\images\armor\head\"/>

      <add typeCode="vests"
           pathToDataFile="\resources\data\armorBody.csv"
           pathToImagesDirectory="\resources\images\armor\body\"/>

      <add typeCode="gloves"
           pathToDataFile="\resources\data\armorArms.csv"
           pathToImagesDirectory="\resources\images\armor\arms\"/>

      <add typeCode="shoes"
           pathToDataFile="\resources\data\armorLegs.csv"
           pathToImagesDirectory="\resources\images\armor\legs\"/>
    </TypedResources>
  </ResourcesLocation>  
</configuration>